.header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	background-color: #ffff;
	box-shadow: 0 3px 11px 0 rgb(0 0 0 / 15%);
}

.header_global {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;

	.header_global_utils {
		button {
			margin: 5px;
		}

		.util_btn {
			width: 100px;
			padding: 6px;
			border: 2px solid #333;
			border-radius: 25px;
			color: #333;
			background-color: transparent;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			cursor: pointer;
			box-sizing: border-box;
			transition: .4s;
			&:hover{
					color: #fff;
					background-color: #333;
			}
	
		}
	}
}
