a { text-decoration: none; color: black; }

.nav {
  margin: 0 auto;
  width: 840px;
  height: 64px;

  ul {
    width: 840px;
    margin: 0 auto;
    overflow: hidden;
  }

  li {
    float: left;
    width : 33.3%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;

    a {
      display: block;
      & :hover {
        color: #fff;
        background-color: #333;
        cursor: pointer;
        transition: 0.3s all ease;
      }
    }
  }

  @media (min-width: 768px) {
    li {
      font-size: 20px;
    }
  }
}
